<section class="gh-view js-settings-content">
    <header class="view-header">
        {{#gh-view-title openMobileMenu="openMobileMenu"}}<span>About IdeaMarket</span>{{/gh-view-title}}
    </header>
    <section class="view-content">
        <header class="gh-about-header">
            <img class="gh-logo" src="{{gh-path 'admin' '/img/ghost-logo.png'}}" alt="IdeaMarket" />
        </header>

        <section class="gh-env-details">
            <ul class="gh-env-list">
                <li class="gh-env-list-version"><strong>Version</strong> {{model.version}}</li>
                <li><strong>Environment</strong> {{model.environment}}</li>
                <li class="gh-env-list-database-type"><strong>Database</strong> {{model.database}}</li>
                <li><strong>Mail</strong> {{#if model.mail}}{{model.mail}}{{else}}Native{{/if}}</li>
            </ul>
        </section>
    </section>
</section>
